openapi: 3.0.0
info:
  contact:
    name: NHL API documentation
    url: https://github.com/mbroeze/nhl-api-specifications/tree/justyaml
  description: Documenting the publicly accessible portions of the NHL API.
  title: NHL API
  version: 1.0.0
servers:
- url: https://statsapi.web.nhl.com/api/v1
tags:
- name: conferences
- name: divisions
- name: draft
- name: franchises
- name: games
- name: gameStatus
- name: gameTypes
- name: players
- name: playTypes
- name: schedule
- name: seasons
- name: standings
- name: stats
- name: teams
paths:
  /conferences:
    get:
      description: "This only retrieves active conferences. For inactive conferences,\
        \ use `/conferences/{id}`."
      operationId: getConferences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conferences'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all current NHL conferences.
      tags:
      - conferences
      x-accepts: application/json
  /conferences/{id}:
    get:
      description: "You can use this to also retrieve inactive conferences. For example,\
        \ the ID for the World Cup of Hockey is `7`."
      operationId: getConference
      parameters:
      - description: The ID of the conference.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 5
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL conference.
      tags:
      - conferences
      x-accepts: application/json
  /divisions:
    get:
      description: "This only retrieves active divisions. For inactive divisions,\
        \ use `/divisions/{id}`."
      operationId: getDivisions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Divisions'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all current NHL divisions.
      tags:
      - divisions
      x-accepts: application/json
  /divisions/{id}:
    get:
      description: "You can use this to also retrieve inactive divisions. For example,\
        \ the ID for the old Patrick division is `13`."
      operationId: getDivision
      parameters:
      - description: The ID of the division.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 15
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Division'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL division.
      tags:
      - divisions
      x-accepts: application/json
  /draft:
    get:
      operationId: getDraft
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get round-by-round data for current year's NHL Entry Draft.
      tags:
      - draft
      x-accepts: application/json
  /draft/{year}:
    get:
      operationId: getDraftByYear
      parameters:
      - description: The draft year.
        explode: false
        in: path
        name: year
        required: true
        schema:
          example: 2018
          pattern: "^\\d{4}$"
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get round-by-round data for a specific year's NHL Entry Draft.
      tags:
      - draft
      x-accepts: application/json
  /draft/prospects:
    get:
      description: Be forewarned that this endpoint returns a **lot** of data and
        there does not appear to be a way to paginate results.
      operationId: getDraftProspects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftProspects'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all NHL Entry Draft prospects.
      tags:
      - draft
      x-accepts: application/json
  /draft/prospects/{id}:
    get:
      operationId: getDraftProspect
      parameters:
      - description: The prospect ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 65242
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftProspects'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL Entry Draft prospect.
      tags:
      - draft
      x-accepts: application/json
  /franchises:
    get:
      operationId: getFranchises
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Franchises'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Returns a list of franchises
      tags:
      - franchises
      x-accepts: application/json
  /franchises/{id}:
    get:
      operationId: getFranchise
      parameters:
      - description: The franchise ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 2
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Franchises'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Gets information on a specific franchise
      tags:
      - franchises
      x-accepts: application/json
  /game/{id}/boxscore:
    get:
      description: "If you want detailed play information, you should use `/game/{id}/feed/live`\
        \ or `/game/{id}/feed/live/diffPatch`."
      operationId: getGameBoxscore
      parameters:
      - description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 2017020851
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameBoxscores'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get the boxscore for an NHL game.
      tags:
      - games
      x-accepts: application/json
  /game/{id}/content:
    get:
      operationId: getGameContent
      parameters:
      - description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 2017020851
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameContent'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: "Get editorials, video replays and photo highlights for an NHL game."
      tags:
      - games
      x-accepts: application/json
  /game/{id}/feed/live:
    get:
      description: "This contains all data related to a game, from the boxscore, to\
        \ play data and even on-ice coordinates. Be forewarned that, depending on\
        \ the game, this endpoint can return a **lot** of data."
      operationId: getGame
      parameters:
      - description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 2017020851
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all available data for an NHL game.
      tags:
      - games
      x-accepts: application/json
  /gameStatus:
    get:
      operationId: getGameStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameStatus'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Returns a list of game status values
      tags:
      - gameStatus
      x-accepts: application/json
  /gameTypes:
    get:
      operationId: getGameTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameType'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Returns list of game types with description and post-season status
      tags:
      - gameTypes
      x-accepts: application/json
  /game/{id}/feed/live/diffPatch:
    get:
      description: You can use this to return a small subset of data relating to game.
      operationId: getGameDiff
      parameters:
      - description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 2017020851
          type: number
        style: simple
      - description: The prospect ID.
        explode: true
        in: query
        name: startTimeCode
        required: true
        schema:
          example: 20180210_0900
          pattern: "^(\\d{8})_(\\d{4})$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all available data for an NHL game after a specific time.
      tags:
      - games
      x-accepts: application/json
  /people/{id}:
    get:
      operationId: getPlayer
      parameters:
      - description: The ID of the player.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 8466138
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Players'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL player.
      tags:
      - players
      x-accepts: application/json
  /people/{id}/stats:
    get:
      operationId: getPlayerStats
      parameters:
      - description: The ID of the player.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 8466138
          type: number
        style: simple
      - description: |
          Stats explanations:
            * `homeAndAway` - Provides a split between home and away games.
            * `byMonth` - Monthly split of stats.
            * `byDayOfWeek` - Split done by day of the week.
            * `goalsByGameSituation` - Shows number on when goals for a player happened like how many in the shootout, how many in each period, etc.
            * `onPaceRegularSeason` - This only works with the current in-progress season and shows projected totals based on current onPaceRegularSeason.
            * `regularSeasonStatRankings` - Returns where someone stands vs the rest of the league for a specific regularSeasonStatRankings
            * `statsSingleSeason` - Obtains single season statistics for a player.
            * `vsConference` - Conference stats split.
            * `vsDivision` - Division stats split.
            * `vsTeam` - Conference stats split.
            * `winLoss` - Very similar to the previous modifier except it provides the W/L/OT split instead of Home and Away.
        explode: true
        in: query
        name: stats
        required: true
        schema:
          enum:
          - homeAndAway
          - byDayOfWeek
          - byMonth
          - goalsByGameSituation
          - onPaceRegularSeason
          - regularSeasonStatRankings
          - statsSingleSeason
          - vsConference
          - vsDivision
          - vsTeam
          - winLoss
          type: string
        style: form
      - description: Return a team's specific season.
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 20172018
          pattern: "^\\d{8}$"
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStats'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get specific statistics for an NHL player.
      tags:
      - players
      x-accepts: application/json
  /playTypes:
    get:
      operationId: getPlayTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayTypes'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: This shows all the possible play types found within the liveData/plays
        portion of the game feed
      tags:
      - playTypes
      x-accepts: application/json
  /schedule:
    get:
      operationId: getSchedule
      parameters:
      - description: |
          Expand explanations:
            * `schedule.brodcasts` - Shows the broadcasts of the game.
            * `schedule.linescore` - Linescore for completed games.
            * `schedule.ticket` - Provides the different places to buy tickets for the upcoming games.
            * `team.schedule.previous` - Same as above but for the last game played.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - schedule.brodcasts
          - schedule.linescore
          - schedule.ticket
          - team.schedule.previous
          type: string
        style: form
      - description: Limit results to a specific team. Team ids can be found through
          the teams endpoint
        explode: true
        in: query
        name: teamId
        required: false
        schema:
          example: "28"
          type: string
        style: form
      - description: Start date for the search.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2018-02-11
          format: date
          type: string
        style: form
      - description: End date for the search.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2018-02-18
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get the NHL game schedule.
      tags:
      - schedule
      x-accepts: application/json
  /seasons:
    get:
      description: Describes each season.
      operationId: getSeasons
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seasons'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all the NHL seasons.
      tags:
      - seasons
      x-accepts: application/json
  /standings:
    get:
      operationId: getStandings
      parameters:
      - description: Standings for a specified season.
        explode: true
        in: query
        name: season
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Standings on a specified date.
        explode: true
        in: query
        name: date
        required: false
        schema:
          example: 2018-01-09
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get NHL division standings.
      tags:
      - standings
      x-accepts: application/json
  /standings/{type}:
    get:
      operationId: getStandingsByType
      parameters:
      - description: |
          Standing types:
            * `byConference` - Standings by Conference
            * `byDivision` - Standings by Division
            * `byLeague` - Standings by League
            * `divisionLeaders` - Division Leader standings
            * `postseason` - Postseason Standings
            * `preseason` - Preseason Standings
            * `regularSeason` - Regular Season Standings
            * `wildCard` - Wild card standings
            * `wildCardWithLeaders` - Wild card standings with Division Leaders
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - byConference
          - byDivision
          - byLeague
          - divisionLeaders
          - postseason
          - preseason
          - regularSeason
          - wildCard
          - wildCardWithLeaders
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get NHL standings for a specific standing type.
      tags:
      - standings
      x-accepts: application/json
  /standingsTypes:
    get:
      operationId: getStandingTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingTypes'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all available NHL standing types.
      tags:
      - standings
      x-accepts: application/json
  /statTypes:
    get:
      operationId: getStatTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatTypes'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all available NHL statistic types.
      tags:
      - stats
      x-accepts: application/json
  /teams:
    get:
      operationId: getTeams
      parameters:
      - description: Expand your response for some additional data.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - team.roster
          - team.schedule.next
          - team.schedule.previous
          type: string
        style: form
      - description: Return a team's specific season.
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 20172018
          pattern: "^\\d{8}$"
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teams'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all NHL teams.
      tags:
      - teams
      x-accepts: application/json
  /teams/{id}:
    get:
      operationId: getTeam
      parameters:
      - description: The ID of the team.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 28
          type: number
        style: simple
      - description: Expand your response for some additional data.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - team.roster
          - team.schedule.next
          - team.schedule.previous
          type: string
        style: form
      - description: Return a team's specific season.
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 20172018
          pattern: "^\\d{8}$"
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL team.
      tags:
      - teams
      x-accepts: application/json
  /teams/{id}/roster:
    get:
      operationId: getTeamRoster
      parameters:
      - description: The ID of the team.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 28
          type: number
        style: simple
      - description: Return a team's specific season.
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 20172018
          pattern: "^\\d{8}$"
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rosters'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get an NHL team's roster.
      tags:
      - teams
      x-accepts: application/json
  /teams/{id}/stats:
    get:
      operationId: getTeamStats
      parameters:
      - description: The ID of the team.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 28
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamStats'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get all statistics for an NHL team.
      tags:
      - teams
      x-accepts: application/json
components:
  parameters:
    gameId:
      description: "The ID of the game. The first 4 digits identify the season of\
        \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
        \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
        \ 04 = all-star. The final 4 digits identify the specific game number. For\
        \ regular season and preseason games, this ranges from 0001 to the number\
        \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
        \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
        \ specific number gives the round of the playoffs, the 3rd digit specifies\
        \ the matchup, and the 4th digit specifies the game (out of 7)."
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 2017020851
        type: number
      style: simple
    playerId:
      description: The ID of the player.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 8466138
        type: number
      style: simple
    season:
      description: Return a team's specific season.
      explode: true
      in: query
      name: season
      required: false
      schema:
        example: 20172018
        pattern: "^\\d{8}$"
        type: number
      style: form
    teamExpand:
      description: Expand your response for some additional data.
      explode: true
      in: query
      name: expand
      required: false
      schema:
        enum:
        - team.roster
        - team.schedule.next
        - team.schedule.previous
        type: string
      style: form
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Error
  schemas:
    Conference:
      example:
        name: Eastern
        link: /api/v1/conferences/5
        active: true
        id: 5
        abbreviation: E
        shortName: East
      properties:
        id:
          example: 5
          type: number
        name:
          enum:
          - Eastern
          - Western
          - World Cup of Hockey
          type: string
        link:
          example: /api/v1/conferences/5
          format: uri
          type: string
        abbreviation:
          enum:
          - E
          - W
          - WCH
          type: string
        shortName:
          enum:
          - East
          - West
          - WCup
          type: string
        active:
          type: boolean
    Conferences:
      example:
        copyright: copyright
        teams:
        - name: Eastern
          link: /api/v1/conferences/5
          active: true
          id: 5
          abbreviation: E
          shortName: East
        - name: Eastern
          link: /api/v1/conferences/5
          active: true
          id: 5
          abbreviation: E
          shortName: East
      properties:
        copyright:
          type: string
        teams:
          items:
            $ref: '#/components/schemas/Conference'
          type: array
    Division:
      example:
        conference:
          name: Western
          link: /api/v1/conferences/5
          id: 5
        name: Pacific
        link: /api/v1/divisions/15
        active: true
        id: 15
        abbreviation: P
      properties:
        id:
          example: 15
          type: number
        name:
          example: Pacific
          type: string
        link:
          example: /api/v1/divisions/15
          format: uri
          type: string
        abbreviation:
          example: P
          type: string
        conference:
          $ref: '#/components/schemas/Division_conference'
        active:
          type: boolean
    Divisions:
      example:
        copyright: copyright
        teams:
        - conference:
            name: Western
            link: /api/v1/conferences/5
            id: 5
          name: Pacific
          link: /api/v1/divisions/15
          active: true
          id: 15
          abbreviation: P
        - conference:
            name: Western
            link: /api/v1/conferences/5
            id: 5
          name: Pacific
          link: /api/v1/divisions/15
          active: true
          id: 15
          abbreviation: P
      properties:
        copyright:
          type: string
        teams:
          items:
            $ref: '#/components/schemas/Division'
          type: array
    Draft:
      example:
        copyright: copyright
        drafts:
        - draftYear: 2017
          rounds:
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
        - draftYear: 2017
          rounds:
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
      properties:
        copyright:
          type: string
        drafts:
          items:
            $ref: '#/components/schemas/Draft_drafts_inner'
          type: array
    DraftProspect:
      example:
        lastName: Hischier
        amateurLeague:
          link: /api/v1/league/null
        link: /api/v1/draft/prospects/65242
        fullName: Nico Hischier
        weight: 179
        birthCity: Naters
        birthDate: 1999-01-04T00:00:00.000+00:00
        amateurTeam:
          link: /api/v1/teams/null
        primaryPosition:
          code: C
          name: Center
          type: Forward
          abbreviation: C
        prospectCategory:
          name: North American Skater
          id: 1
          shortName: NA Skater
        firstName: Nico
        ranks: "{}"
        nationality: CHE
        birthCountry: CHE
        id: 65242
        height: 6' 2"
        shootsCatches: L
      properties:
        id:
          example: 65242
          type: number
        fullName:
          example: Nico Hischier
          type: string
        link:
          example: /api/v1/draft/prospects/65242
          format: uri
          type: string
        firstName:
          example: Nico
          type: string
        lastName:
          example: Hischier
          type: string
        birthDate:
          example: 1999-01-04
          format: date
          type: string
        birthCity:
          example: Naters
          type: string
        birthCountry:
          example: CHE
          type: string
        nationality:
          example: CHE
          type: string
        height:
          example: 6' 2"
          type: string
        weight:
          example: 179
          type: number
        shootsCatches:
          example: L
          type: string
        primaryPosition:
          $ref: '#/components/schemas/DraftProspect_primaryPosition'
        prospectCategory:
          $ref: '#/components/schemas/DraftProspect_prospectCategory'
        amateurTeam:
          $ref: '#/components/schemas/DraftProspect_amateurTeam'
        amateurLeague:
          $ref: '#/components/schemas/DraftProspect_amateurLeague'
        ranks:
          type: object
    DraftProspects:
      example:
        copyright: copyright
        prospects:
        - lastName: Hischier
          amateurLeague:
            link: /api/v1/league/null
          link: /api/v1/draft/prospects/65242
          fullName: Nico Hischier
          weight: 179
          birthCity: Naters
          birthDate: 1999-01-04T00:00:00.000+00:00
          amateurTeam:
            link: /api/v1/teams/null
          primaryPosition:
            code: C
            name: Center
            type: Forward
            abbreviation: C
          prospectCategory:
            name: North American Skater
            id: 1
            shortName: NA Skater
          firstName: Nico
          ranks: "{}"
          nationality: CHE
          birthCountry: CHE
          id: 65242
          height: 6' 2"
          shootsCatches: L
        - lastName: Hischier
          amateurLeague:
            link: /api/v1/league/null
          link: /api/v1/draft/prospects/65242
          fullName: Nico Hischier
          weight: 179
          birthCity: Naters
          birthDate: 1999-01-04T00:00:00.000+00:00
          amateurTeam:
            link: /api/v1/teams/null
          primaryPosition:
            code: C
            name: Center
            type: Forward
            abbreviation: C
          prospectCategory:
            name: North American Skater
            id: 1
            shortName: NA Skater
          firstName: Nico
          ranks: "{}"
          nationality: CHE
          birthCountry: CHE
          id: 65242
          height: 6' 2"
          shootsCatches: L
      properties:
        copyright:
          type: string
        prospects:
          items:
            $ref: '#/components/schemas/DraftProspect'
          type: array
    Error:
      properties:
        messageNumber:
          example: 10
          type: number
        message:
          example: Object not found
          type: string
    Franchise:
      example:
        name: Sharks
        link: /api/v1/franchises/29
        id: 29
      properties:
        id:
          example: 29
          type: number
        name:
          example: Sharks
          type: string
        link:
          example: /api/v1/franchises/29
          format: uri
          type: string
    Franchises:
      example:
        franchises:
        - name: Sharks
          link: /api/v1/franchises/29
          id: 29
        - name: Sharks
          link: /api/v1/franchises/29
          id: 29
        copyright: copyright
      properties:
        copyright:
          type: string
        franchises:
          items:
            $ref: '#/components/schemas/Franchise'
          type: array
    Game:
      example:
        gamePk: 2017020851
        metaData:
          timeStamp: 20180211_054345
          wait: 10
        copyright: copyright
        link: /api/v1/game/2017020851/feed/live
        gameData:
          venue:
            name: SAP Center at San Jose
            link: /api/v1/venues/null
          game:
            season: "20172018"
            pk: 2017020851
            type: R
          datetime:
            dateTime: 2018-02-11T03:00:00Z
            endDateTime: 2018-02-11T05:30:42Z
          teams:
            away:
              teamName: Sharks
              venue:
                city: city
                name: SAP Center at San Jose
                link: /api/v1/venues/null
              franchise:
                name: Sharks
                link: /api/v1/franchises/29
                id: 29
              locationName: San Jose
              conference:
                name: Western
                link: /api/v1/conferences/5
                id: 5
              firstYearOfPlay: 1990
              link: /api/v1/teams/28
              officialSiteUrl: http://www.sjsharks.com
              active: true
              abbreviation: SJS
              division:
                name: Pacific
                link: /api/v1/divisions/15
                id: 15
              roster:
                roster:
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
              name: San Jose Sharks
              franchiseId: 29
              nextGameSchedule:
                totalItems: 1
                totalGames: 1
                totalEvents: 0
                dates:
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - "{}"
                  - "{}"
                  events:
                  - "{}"
                  - "{}"
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - "{}"
                  - "{}"
                  events:
                  - "{}"
                  - "{}"
                totalMatches: 0
              id: 28
              triCode: SJS
              shortName: San Jose
            home:
              teamName: Sharks
              venue:
                city: city
                name: SAP Center at San Jose
                link: /api/v1/venues/null
              franchise:
                name: Sharks
                link: /api/v1/franchises/29
                id: 29
              locationName: San Jose
              conference:
                name: Western
                link: /api/v1/conferences/5
                id: 5
              firstYearOfPlay: 1990
              link: /api/v1/teams/28
              officialSiteUrl: http://www.sjsharks.com
              active: true
              abbreviation: SJS
              division:
                name: Pacific
                link: /api/v1/divisions/15
                id: 15
              roster:
                roster:
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
              name: San Jose Sharks
              franchiseId: 29
              nextGameSchedule:
                totalItems: 1
                totalGames: 1
                totalEvents: 0
                dates:
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - "{}"
                  - "{}"
                  events:
                  - "{}"
                  - "{}"
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - "{}"
                  - "{}"
                  events:
                  - "{}"
                  - "{}"
                totalMatches: 0
              id: 28
              triCode: SJS
              shortName: San Jose
          players:
            currentTeam:
              name: San Jose Sharks
              link: /api/v1/teams/28
              id: 28
            lastName: Thornton
            birthStateProvince: "ON"
            link: /api/v1/people/8466138
            rosterStatus: I
            fullName: Joe Thornton
            weight: 220
            active: true
            birthCity: London
            captain: true
            birthDate: 1979-07-02T00:00:00.000+00:00
            rookie: true
            primaryNumber: "19"
            primaryPosition:
              code: C
              name: Center
              type: Forward
              abbreviation: C
            firstName: Joe
            currentAge: 38
            nationality: CAN
            alternateCaptain: true
            birthCountry: CAN
            id: 8466138
            height: 6' 4"
            shootsCatches: L
          status:
            codedGameState: "7"
            abstractGameState: Final
            detailedState: Final
            startTimeTBD: true
            statusCode: "7"
        liveData:
          plays:
            penaltyPlays:
            - 6.027456183070403
            - 6.027456183070403
            scoringPlays:
            - 0.8008281904610115
            - 0.8008281904610115
            allPlays:
            - result:
                eventCode: SJS505
                eventTypeId: GAME_END
                description: Game End
                event: Game End
              players:
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              about:
                eventIdx: 315
                dateTime: 2018-02-11T05:30:42Z
                eventId: 505
                period: 3
                periodType: REGULAR
                ordinalNum: 3rd
                periodTime: 20:00
                periodTimeRemaining: 00:00
                goals:
                  away: 4
                  home: 6
              coordinates:
                x: 0
                "y": 0
              team:
                name: San Jose Sharks
                link: /api/v1/teams/28
                id: 28
                triCode: SJS
            - result:
                eventCode: SJS505
                eventTypeId: GAME_END
                description: Game End
                event: Game End
              players:
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              about:
                eventIdx: 315
                dateTime: 2018-02-11T05:30:42Z
                eventId: 505
                period: 3
                periodType: REGULAR
                ordinalNum: 3rd
                periodTime: 20:00
                periodTimeRemaining: 00:00
                goals:
                  away: 4
                  home: 6
              coordinates:
                x: 0
                "y": 0
              team:
                name: San Jose Sharks
                link: /api/v1/teams/28
                id: 28
                triCode: SJS
            currentPlay:
              result:
                eventCode: SJS505
                eventTypeId: GAME_END
                description: Game End
                event: Game End
              players:
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              about:
                eventIdx: 315
                dateTime: 2018-02-11T05:30:42Z
                eventId: 505
                period: 3
                periodType: REGULAR
                ordinalNum: 3rd
                periodTime: 20:00
                periodTimeRemaining: 00:00
                goals:
                  away: 4
                  home: 6
              coordinates:
                x: 0
                "y": 0
              team:
                name: San Jose Sharks
                link: /api/v1/teams/28
                id: 28
                triCode: SJS
            playsByPeriod:
            - startIndex: 0
              plays:
              - 1.4658129805029452
              - 1.4658129805029452
              endIndex: 114
            - startIndex: 0
              plays:
              - 1.4658129805029452
              - 1.4658129805029452
              endIndex: 114
          boxscore:
            teams:
              away:
                coaches:
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                goalies:
                - 5.962133916683182
                - 5.962133916683182
                onIce:
                - 2.3021358869347655
                - 2.3021358869347655
                players:
                  stats:
                    skaterStats:
                      penaltyMinutes: 0
                      plusMinus: 1
                      powerPlayGoals: 0
                      faceOffWins: 0
                      takeaways: 0
                      shortHandedAssists: 0
                      hits: 0
                      powerPlayAssists: 0
                      shortHandedGoals: 0
                      blocked: 0
                      shortHandedTimeOnIce: 3:45
                      timeOnIce: 23:04
                      assists: 0
                      faceoffTaken: 0
                      shots: 2
                      evenTimeOnIce: 18:12
                      powerPlayTimeOnIce: 1:07
                      goals: 0
                      giveaways: 1
                  person:
                    link: /api/v1/people/8471709
                    rosterStatus: "Y"
                    fullName: Marc-Edouard Vlasic
                    id: 8471709
                    shootsCatches: L
                  jerseyNumber: "44"
                  position:
                    code: D
                    name: Defenseman
                    type: Defenseman
                    abbreviation: D
                scratches:
                - 7.061401241503109
                - 7.061401241503109
                penaltyBox:
                - 9.301444243932576
                - 9.301444243932576
                team:
                  name: San Jose Sharks
                  link: /api/v1/teams/28
                  id: 28
                  triCode: SJS
                  abbreviation: SJS
                skaters:
                - 5.637376656633329
                - 5.637376656633329
                teamStats:
                  teamSkaterStats:
                    hits: 15
                    powerPlayPercentage: "0.0"
                    faceOffWinPercentage: "59.3"
                    blocked: 21
                    pim: 6
                    powerPlayGoals: 0
                    powerPlayOpportunities: 1
                    takeaways: 9
                    shots: 30
                    goals: 6
                    giveaways: 6
                onIcePlus:
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
              home:
                coaches:
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                goalies:
                - 5.962133916683182
                - 5.962133916683182
                onIce:
                - 2.3021358869347655
                - 2.3021358869347655
                players:
                  stats:
                    skaterStats:
                      penaltyMinutes: 0
                      plusMinus: 1
                      powerPlayGoals: 0
                      faceOffWins: 0
                      takeaways: 0
                      shortHandedAssists: 0
                      hits: 0
                      powerPlayAssists: 0
                      shortHandedGoals: 0
                      blocked: 0
                      shortHandedTimeOnIce: 3:45
                      timeOnIce: 23:04
                      assists: 0
                      faceoffTaken: 0
                      shots: 2
                      evenTimeOnIce: 18:12
                      powerPlayTimeOnIce: 1:07
                      goals: 0
                      giveaways: 1
                  person:
                    link: /api/v1/people/8471709
                    rosterStatus: "Y"
                    fullName: Marc-Edouard Vlasic
                    id: 8471709
                    shootsCatches: L
                  jerseyNumber: "44"
                  position:
                    code: D
                    name: Defenseman
                    type: Defenseman
                    abbreviation: D
                scratches:
                - 7.061401241503109
                - 7.061401241503109
                penaltyBox:
                - 9.301444243932576
                - 9.301444243932576
                team:
                  name: San Jose Sharks
                  link: /api/v1/teams/28
                  id: 28
                  triCode: SJS
                  abbreviation: SJS
                skaters:
                - 5.637376656633329
                - 5.637376656633329
                teamStats:
                  teamSkaterStats:
                    hits: 15
                    powerPlayPercentage: "0.0"
                    faceOffWinPercentage: "59.3"
                    blocked: 21
                    pim: 6
                    powerPlayGoals: 0
                    powerPlayOpportunities: 1
                    takeaways: 9
                    shots: 30
                    goals: 6
                    giveaways: 6
                onIcePlus:
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
            officials:
            - officialType: Linesman
              official:
                link: /api/v1/people/2071
                fullName: Tim Peel
                id: 2071
            - officialType: Linesman
              official:
                link: /api/v1/people/2071
                fullName: Tim Peel
                id: 2071
          linescore:
            teams:
              away:
                powerPlay: true
                shotsOnGoal: 30
                team:
                  name: San Jose Sharks
                  link: /api/v1/teams/28
                  id: 28
                  triCode: SJS
                  abbreviation: SJS
                numSkaters: 5
                goaliePulled: true
                goals: 6
              home:
                powerPlay: true
                shotsOnGoal: 30
                team:
                  name: San Jose Sharks
                  link: /api/v1/teams/28
                  id: 28
                  triCode: SJS
                  abbreviation: SJS
                numSkaters: 5
                goaliePulled: true
                goals: 6
            periods:
            - periodType: REGULAR
              away:
                shotsOnGoal: 9
                goals: 0
                rinkSide: right
              ordinalNum: 1st
              num: 1
              startTime: 2018-02-11T03:09:50Z
              endTime: 2018-02-11T03:44:47Z
              home:
                shotsOnGoal: 14
                goals: 2
                rinkSide: left
            - periodType: REGULAR
              away:
                shotsOnGoal: 9
                goals: 0
                rinkSide: right
              ordinalNum: 1st
              num: 1
              startTime: 2018-02-11T03:09:50Z
              endTime: 2018-02-11T03:44:47Z
              home:
                shotsOnGoal: 14
                goals: 2
                rinkSide: left
            powerPlayStrength: Even
            hasShootout: true
            intermissionInfo:
              intermissionTimeRemaining: 0
              intermissionTimeElapsed: 0
              inIntermission: true
            powerPlayInfo:
              inSituation: true
              situationTimeElapsed: 72
              situationTimeRemaining: 0
            currentPeriodOrdinal: 3rd
            currentPeriodTimeRemaining: Final
            currentPeriod: 3
            shootoutInfo:
              away:
                scores: 0
                attempts: 0
              home:
                scores: 0
                attempts: 0
          decisions:
            thirdStar:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
            winner:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
            secondStar:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
            loser:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
            firstStar:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
      properties:
        copyright:
          type: string
        gamePk:
          example: 2017020851
          type: number
        link:
          example: /api/v1/game/2017020851/feed/live
          format: uri
          type: string
        metaData:
          $ref: '#/components/schemas/Game_metaData'
        gameData:
          $ref: '#/components/schemas/Game_gameData'
        liveData:
          $ref: '#/components/schemas/Game_liveData'
    GameBoxscore:
      example:
        teams:
          away:
            coaches:
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            goalies:
            - 5.962133916683182
            - 5.962133916683182
            onIce:
            - 2.3021358869347655
            - 2.3021358869347655
            players:
              stats:
                skaterStats:
                  penaltyMinutes: 0
                  plusMinus: 1
                  powerPlayGoals: 0
                  faceOffWins: 0
                  takeaways: 0
                  shortHandedAssists: 0
                  hits: 0
                  powerPlayAssists: 0
                  shortHandedGoals: 0
                  blocked: 0
                  shortHandedTimeOnIce: 3:45
                  timeOnIce: 23:04
                  assists: 0
                  faceoffTaken: 0
                  shots: 2
                  evenTimeOnIce: 18:12
                  powerPlayTimeOnIce: 1:07
                  goals: 0
                  giveaways: 1
              person:
                link: /api/v1/people/8471709
                rosterStatus: "Y"
                fullName: Marc-Edouard Vlasic
                id: 8471709
                shootsCatches: L
              jerseyNumber: "44"
              position:
                code: D
                name: Defenseman
                type: Defenseman
                abbreviation: D
            scratches:
            - 7.061401241503109
            - 7.061401241503109
            penaltyBox:
            - 9.301444243932576
            - 9.301444243932576
            team:
              name: San Jose Sharks
              link: /api/v1/teams/28
              id: 28
              triCode: SJS
              abbreviation: SJS
            skaters:
            - 5.637376656633329
            - 5.637376656633329
            teamStats:
              teamSkaterStats:
                hits: 15
                powerPlayPercentage: "0.0"
                faceOffWinPercentage: "59.3"
                blocked: 21
                pim: 6
                powerPlayGoals: 0
                powerPlayOpportunities: 1
                takeaways: 9
                shots: 30
                goals: 6
                giveaways: 6
            onIcePlus:
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
          home:
            coaches:
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            goalies:
            - 5.962133916683182
            - 5.962133916683182
            onIce:
            - 2.3021358869347655
            - 2.3021358869347655
            players:
              stats:
                skaterStats:
                  penaltyMinutes: 0
                  plusMinus: 1
                  powerPlayGoals: 0
                  faceOffWins: 0
                  takeaways: 0
                  shortHandedAssists: 0
                  hits: 0
                  powerPlayAssists: 0
                  shortHandedGoals: 0
                  blocked: 0
                  shortHandedTimeOnIce: 3:45
                  timeOnIce: 23:04
                  assists: 0
                  faceoffTaken: 0
                  shots: 2
                  evenTimeOnIce: 18:12
                  powerPlayTimeOnIce: 1:07
                  goals: 0
                  giveaways: 1
              person:
                link: /api/v1/people/8471709
                rosterStatus: "Y"
                fullName: Marc-Edouard Vlasic
                id: 8471709
                shootsCatches: L
              jerseyNumber: "44"
              position:
                code: D
                name: Defenseman
                type: Defenseman
                abbreviation: D
            scratches:
            - 7.061401241503109
            - 7.061401241503109
            penaltyBox:
            - 9.301444243932576
            - 9.301444243932576
            team:
              name: San Jose Sharks
              link: /api/v1/teams/28
              id: 28
              triCode: SJS
              abbreviation: SJS
            skaters:
            - 5.637376656633329
            - 5.637376656633329
            teamStats:
              teamSkaterStats:
                hits: 15
                powerPlayPercentage: "0.0"
                faceOffWinPercentage: "59.3"
                blocked: 21
                pim: 6
                powerPlayGoals: 0
                powerPlayOpportunities: 1
                takeaways: 9
                shots: 30
                goals: 6
                giveaways: 6
            onIcePlus:
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
        officials:
        - officialType: Linesman
          official:
            link: /api/v1/people/2071
            fullName: Tim Peel
            id: 2071
        - officialType: Linesman
          official:
            link: /api/v1/people/2071
            fullName: Tim Peel
            id: 2071
      properties:
        teams:
          $ref: '#/components/schemas/GameBoxscore_teams'
        officials:
          items:
            $ref: '#/components/schemas/GameOfficial'
          type: array
    GameBoxscores:
      allOf:
      - $ref: '#/components/schemas/GameBoxscores_allOf'
      - $ref: '#/components/schemas/GameBoxscore'
    GameBoxscoreTeam:
      example:
        coaches:
        - person:
            link: /api/v1/people/null
            fullName: Peter DeBoer
          position:
            code: HC
            name: Head Coach
            type: Head Coach
            abbreviation: Head Coach
        - person:
            link: /api/v1/people/null
            fullName: Peter DeBoer
          position:
            code: HC
            name: Head Coach
            type: Head Coach
            abbreviation: Head Coach
        goalies:
        - 5.962133916683182
        - 5.962133916683182
        onIce:
        - 2.3021358869347655
        - 2.3021358869347655
        players:
          stats:
            skaterStats:
              penaltyMinutes: 0
              plusMinus: 1
              powerPlayGoals: 0
              faceOffWins: 0
              takeaways: 0
              shortHandedAssists: 0
              hits: 0
              powerPlayAssists: 0
              shortHandedGoals: 0
              blocked: 0
              shortHandedTimeOnIce: 3:45
              timeOnIce: 23:04
              assists: 0
              faceoffTaken: 0
              shots: 2
              evenTimeOnIce: 18:12
              powerPlayTimeOnIce: 1:07
              goals: 0
              giveaways: 1
          person:
            link: /api/v1/people/8471709
            rosterStatus: "Y"
            fullName: Marc-Edouard Vlasic
            id: 8471709
            shootsCatches: L
          jerseyNumber: "44"
          position:
            code: D
            name: Defenseman
            type: Defenseman
            abbreviation: D
        scratches:
        - 7.061401241503109
        - 7.061401241503109
        penaltyBox:
        - 9.301444243932576
        - 9.301444243932576
        team:
          name: San Jose Sharks
          link: /api/v1/teams/28
          id: 28
          triCode: SJS
          abbreviation: SJS
        skaters:
        - 5.637376656633329
        - 5.637376656633329
        teamStats:
          teamSkaterStats:
            hits: 15
            powerPlayPercentage: "0.0"
            faceOffWinPercentage: "59.3"
            blocked: 21
            pim: 6
            powerPlayGoals: 0
            powerPlayOpportunities: 1
            takeaways: 9
            shots: 30
            goals: 6
            giveaways: 6
        onIcePlus:
        - stamina: 33
          shiftDuration: 458
          playerId: 8477180
        - stamina: 33
          shiftDuration: 458
          playerId: 8477180
      properties:
        team:
          $ref: '#/components/schemas/GameBoxscoreTeam_team'
        teamStats:
          $ref: '#/components/schemas/GameBoxscoreTeam_teamStats'
        players:
          $ref: '#/components/schemas/GameBoxscoreTeam_players'
        goalies:
          items:
            type: number
          type: array
        skaters:
          items:
            type: number
          type: array
        onIce:
          items:
            type: number
          type: array
        onIcePlus:
          items:
            $ref: '#/components/schemas/GameBoxscoreTeam_onIcePlus_inner'
          type: array
        scratches:
          items:
            type: number
          type: array
        penaltyBox:
          items:
            type: number
          type: array
        coaches:
          items:
            $ref: '#/components/schemas/GameBoxscoreTeam_coaches_inner'
          type: array
    GameContent:
      example:
        editorial:
          preview:
            title: Preview
            items:
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword:
                displayName: English
                type: bodyParagraphCount
                value: en
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword:
                displayName: English
                type: bodyParagraphCount
                value: en
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            topicList: topicList
          recap:
            title: Preview
            items:
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword:
                displayName: English
                type: bodyParagraphCount
                value: en
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword:
                displayName: English
                type: bodyParagraphCount
                value: en
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            topicList: topicList
          articles:
            title: Preview
            items:
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword:
                displayName: English
                type: bodyParagraphCount
                value: en
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
[...]
